@import "tailwindcss";

body {
  background-color:  #121212 ; /* softer dark */
  color: white;
  font-family: system-ui, sans-serif;
}

/*to remove the spinner in input type number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* #1e2939 */

/* rgb(105, 108, 160) */

